.table {
  background: #FFFFFF;

  .table-header {
    display: flex;
    text-align: center;
    background: #F7F7FC;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .cell-size {
    padding: 10px 20px;
    width: 100%;

    &.small {
      width: 100px;

      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
  }

  .table-row {
    display: flex;

    &__cell {
      display: flex;

      &_content {
        width: 100%;
      }
    }

    @media screen and (max-width: 991px) {
      flex-direction: column;
      border-bottom: 1px solid #E1E1FB;
    }
  }

  .title-accordion {
    background: #E1E1FB;;
    padding: 10px 20px;
    cursor: pointer;
  }

  .table-section {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease;

    &.active {
      max-height: 2000px;
      transition: max-height 0.5s ease;

      @media screen and (max-width: 991px) {
        max-height: 3500px;
      }
    }
  }

  .row-title-mobile {
    margin-right: 10px;
    width: 100px;
    display: none;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }
}