#select-label {
  background: white;
  padding: 0 5px;
  -webkit-transform: translate(14px, 10px) scale(1);
  -moz-transform: translate(14px, 10px) scale(1);
  -ms-transform: translate(14px, 10px) scale(1);
  transform: translate(14px, 10px) scale(1);
}

#custom-select {
  padding: 10px;
}